body {
  font-family: sans-serif;
}

.search-bar-container {
  width: 200px;
  height: 50px;
  position: relative;
}

.search-bar {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #57759a;
  border-radius: 50%;
  transition: width 2s, border-radius 2s;
}

.icon {
  height: 50px;
  width: 50px;
  float: right;
  border-radius: 50%;
  background: #57759a;
  position: relative;
  z-index: 5;
}

.icon i {
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 2s;
  margin-left: 15px;
}

.search-bar.active {
  width: 100%;
  border-radius: 200px;
}

.search-bar.active .input-text {
  visibility: visible;
  opacity: 1;
  margin-left: 15px;
  transition: opacity 2s;
}

.search-input {
  position: relative;
  width: 60%;
  float: left;
  border-style: none;
  border-radius: 200px;
  color: white;
  padding: 5px;
  background: #57759a;
  font-size: 1.5rem;
}

.search-input::placeholder {
  color: white;
  font-size: 1.5rem;
}

.search-input:focus {
  outline: none;
}
